<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Lottery {{baseUrl}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="description">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Draw</label>
                    <input ng-model="draw">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>How many numbers</label>
                    <input ng-model="numbers">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Maximum number value</label>
                    <input ng-model="upperNumber">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Numbers tag</label>
                    <input ng-model="numbersTag">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>How many specials</label>
                    <input ng-model="specials">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Maximum special value</label>
                    <input ng-model="upperSpecial">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Specials tag</label>
                    <input ng-model="specialsTag">
                </md-input-container>
                <md-checkbox class="md-block" ng-model="isBonus">
                    <label>Bonus Number?</label>
                </md-checkbox>
                <md-input-container class="md-block">
                    <label>URL</label>
                    <input ng-model="baseUrl">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="insertLottery()" class="md-primary">Add Lottery</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
