<md-dialog>
    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Configure New Lottery</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="description" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Last Draw</label>
                    <input ng-model="draw" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>How many numbers</label>
                    <input ng-model="numbers" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Maximum number value</label>
                    <input ng-model="upperNumber" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Numbers tag</label>
                    <input ng-model="numbersTag" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>How many specials</label>
                    <input ng-model="specials" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Maximum special value</label>
                    <input ng-model="upperSpecial" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Specials tag</label>
                    <input ng-model="specialsTag" readonly>
                </md-input-container>
                <md-checkbox class="md-block" ng-model="isBonus" readonly>
                    <label>Bonus Number?</label>
                </md-checkbox>
                <md-input-container class="md-block">
                    <label>URL</label>
                    <input ng-model="baseUrl" readonly>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="insertLottery()" class="md-primary">Add User</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
